
# **Кашима Ахмед, ИУ5И-61Б**


# **РК№2**

## Вариант№31

**Задание.** Для заданного набора данных (по Вашему варианту) постройте модели классификации или регрессии (в зависимости от конкретной задачи, рассматриваемой в наборе данных). Для построения моделей используйте методы 1 и 2 (по варианту для Вашей группы). Оцените качество моделей на основе подходящих метрик качества (не менее двух метрик). Какие метрики качества Вы использовали и почему? Какие выводы Вы можете сделать о качестве построенных моделей? Для построения моделей необходимо выполнить требуемую предобработку данных: заполнение пропусков, кодирование категориальных признаков, и т.д.

**Задание по варианту:** линейная/логистическая регрессия, случайный лес.

**Датасет:** https://www.kaggle.com/datasets/kmldas/loan-default-prediction (файл Default_Fin.csv)

В качестве набора данных предлагается датасет с бразильскими домами для аренды.

В данном датасете 5 колонок:

* **index** - индификатор;
* **Employed** - тродоустройства; 
* **Bank Balance** - баланс в банке;
* **Annual Salary** - годовая зароботная плата;
* **Defaulted** - дефолт;

In [42]:
import numpy as np
import pandas as pd
from typing import Dict, Tuple
from scipy import stats
from IPython.display import Image
from io import StringIO
from IPython.display import Image
import graphviz
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor, KNeighborsClassifier
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from sklearn.metrics import accuracy_score, balanced_accuracy_score
from sklearn.metrics import precision_score, recall_score, f1_score, classification_report
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor, export_graphviz
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.ensemble import ExtraTreesClassifier, ExtraTreesRegressor
from sklearn.ensemble import GradientBoostingClassifier, GradientBoostingRegressor
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import mean_absolute_error, mean_squared_error, mean_squared_log_error, median_absolute_error, r2_score
from sklearn.metrics import roc_curve, roc_auc_score
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
sns.set(style="ticks")
from sklearn.preprocessing import StandardScaler

## Загрузка и первичный анализ данных

In [43]:
data = pd.read_csv('Default_Fin.csv', sep=",")

In [44]:
data.shape

(10000, 5)

In [45]:
# типы колонок
data.dtypes

Index              int64
Employed           int64
Bank Balance     float64
Annual Salary    float64
Defaulted?         int64
dtype: object

In [46]:
data.head(5)

   Index  Employed  Bank Balance  Annual Salary  Defaulted?
0      1         1       8754.36      532339.56           0
1      2         0       9806.16      145273.56           0
2      3         1      12882.60      381205.68           0
3      4         1       6351.00      428453.88           0
4      5         1       9427.92      461562.00           0

In [47]:
data.rename(columns={'Defaulted?': "Defaulted"}, inplace=True)

In [48]:
# кол-во пропущенные значений (тк нулевые значения в данном датасете - конкретное значения)
nan_count = (data.isna().sum())
print(nan_count)

Index            0
Employed         0
Bank Balance     0
Annual Salary    0
Defaulted        0
dtype: int64

## Обрабработка данных

## Разделение на обучающую и тестовую выборки.

In [49]:
target = data['Defaulted']
data_X_train, data_X_test, data_y_train, data_y_test = train_test_split(
    data, target, test_size=0.2, random_state=1)

In [50]:
data_X_train.shape, data_X_test.shape, data_y_train.shape, data_y_test.shape

((8000, 5), (2000, 5), (8000,), (2000,))

# Линейная/логистическая регрессия

In [51]:
from sklearn.linear_model import LinearRegression, LogisticRegression

# Поскольку целевая переменная бинарная (Defaulted), используем логистическую регрессию
log_reg = LogisticRegression(max_iter=1000)
log_reg.fit(data_X_train, data_y_train)

In [52]:
data_y_pred_1 = log_reg.predict(data_X_test)

In [53]:
mean_absolute_error(data_y_test, data_y_pred_1), mean_squared_error(data_y_test, data_y_pred_1)

(0.027, 0.027)

In [54]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
data_scaled = scaler.fit_transform(data)
data_scaled = pd.DataFrame(data_scaled, columns=data.columns)

In [55]:
target_2 = data_scaled['Defaulted']
data_X_train_2, data_X_test_2, data_y_train_2, data_y_test_2 = train_test_split(
    data_scaled, target_2, test_size=0.2, random_state=1)

In [56]:
log_reg_2 = LogisticRegression(max_iter=1000)
log_reg_2.fit(data_X_train_2, data_y_train_2)

In [57]:
data_y_pred_2 = log_reg_2.predict(data_X_test_2)

In [58]:
mean_absolute_error(data_y_test_2, data_y_pred_2), mean_squared_error(data_y_test_2, data_y_pred_2)

(0.027, 0.027)

# Случайный лес

In [59]:
from sklearn.ensemble import RandomForestClassifier

target_3 = data['Defaulted']
data_X_train_3, data_X_test_3, data_y_train_3, data_y_test_3 = train_test_split(
    data, target_3, test_size=0.2, random_state=1)

rf = RandomForestClassifier(n_estimators=100, random_state=1)
rf.fit(data_X_train_3, data_y_train_3)

data_y_pred_3 = rf.predict(data_X_test_3)

In [60]:
mean_absolute_error(data_y_test_3, data_y_pred_3), mean_squared_error(data_y_test_3, data_y_pred_3)

(0.0125, 0.0125)

In [61]:
accuracy_score(data_y_test_3, data_y_pred_3)

0.9875

In [62]:
f1_score(data_y_test_3, data_y_pred_3, average='micro')

0.9875

In [63]:
f1_score(data_y_test_3, data_y_pred_3, average='macro')

0.9875

In [64]:
f1_score(data_y_test_3, data_y_pred_3, average='weighted')

0.9875

**Вывод**: модель случайного леса показала себя лучше, чем модель логистической регрессии, достигнув точности 98.75% против 97.3% у логистической регрессии.